<h2 class="sub-header">Search Results</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < modules.length; i++) { %>
      <tr>
        <td><a href='/module/<%= modules[i].name %>'><%= modules[i].name %></a></td>
        <td><%= modules[i].description %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
